body{
    margin:0;
}
.profile{
    width: 175px;
    margin-bottom: 50px;
    border-radius: 50%;
        
}
#welcome{
    top:0;
    bottom:0;
    right:0;
    left:0;
    background: linear-gradient(yellow,green);
    overflow: hidden;
    display:table;
    width:100%;
    height:100%;
        
}
.welcome-inner{
    display:table-cell;
    position:relative;
    text-align: center;
    vertical-align: middle;
}
#name{
    font-family:cursive;
    font-size: 30px;
}
#bio{
    padding: 50px;
    text-align: center;
    font-size: 30px;
}
.line{
    height: 6px;
    width: 70px;
    margin: 8px auto;
    background-color: blue;
}
p{
   font-family: 'Oswald', sans-serif; 
}